
@{
    ViewData["Title"] = "Noblurb";
}


<table class="form-group padnoblurb">
    <thead>

    </thead>
    <tbody class="bg-warning">
        <tr>
            <th class="btn-warning">
                Blurb! NOT FOUND
            </th>
        </tr>
        <tr>
            <td>
                The Blurb! you are looking for was not found. <br />
                It was likely deleted by the original poster.
            </td>
        </tr>
    </tbody>
</table>
<a asp-action="Index">Return to Blurbs! Home</a>